body {
  background-color: black;
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.navlist {
  padding: 2%;
}

.navlist a {
  color: white;
  font-family: monospace;
  font-size: 2vw;
  padding: 2%;
}
